*.vsidx
.vs/Gauss–Seidel/v17/.suo
*.db
*.json
*.ipch
*.sln
*.vcxproj
*.filters
*.user
*.ilk
*.recipe
*.log
Gauss–Seidel/x64/Debug/Gauss–Seidel.obj
Gauss–Seidel/x64/Debug/gauss–seidel.obj.enc
Gauss–Seidel/x64/Debug/Gauss–Seidel.tlog/CL.command.1.tlog
Gauss–Seidel/x64/Debug/Gauss–Seidel.tlog/Cl.items.tlog
Gauss–Seidel/x64/Debug/Gauss–Seidel.tlog/CL.read.1.tlog
Gauss–Seidel/x64/Debug/Gauss–Seidel.tlog/CL.write.1.tlog
Gauss–Seidel/x64/Debug/Gauss–Seidel.tlog/Gauss–Seidel.lastbuildstate
Gauss–Seidel/x64/Debug/Gauss–Seidel.tlog/link.command.1.tlog
Gauss–Seidel/x64/Debug/Gauss–Seidel.tlog/link.read.1.tlog
Gauss–Seidel/x64/Debug/Gauss–Seidel.tlog/link.secondary.1.tlog
Gauss–Seidel/x64/Debug/Gauss–Seidel.tlog/link.write.1.tlog
Gauss–Seidel/x64/Debug/vc143.idb
Gauss–Seidel/x64/Debug/vc143.pdb
x64/Debug/Gauss–Seidel.exe
x64/Debug/Gauss–Seidel.pdb
.vs/Gauss–Seidel/v17/Browse.VC.db-shm
.vs/Gauss–Seidel/v17/Browse.VC.db-wal
.vs/Gauss–Seidel/v17/Browse.VC.opendb
